
table {
    width: 100%;                   /* Hace que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse;     /* Elimina los espacios entre las celdas */
    margin: 20px 0;                /* Añade margen superior e inferior */
    font-family: Arial, sans-serif;/* Fuente de texto más limpia */
}

thead th {
    background-color: #f4f4f4;     /* Fondo gris claro para los encabezados */
    color: #333;                   /* Color del texto en los encabezados */
    font-weight: bold;             /* Texto en negrita */
    text-align: center;              /* Alinea el texto al centro */
    padding: 10px;                 /* Añade espacio interno */
    border-bottom: 2px solid #ddd; /* Añade una línea divisoria debajo de los encabezados */
}

tbody td {
    padding: 10px;                 /* Añade espacio interno a las celdas */
    border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
    text-align: center;              /* Alinea el texto al centro*/
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;     /* Color de fondo alterno para filas pares */
}

tbody tr:hover {
    background-color: #f1f1f1;     /* Fondo ligeramente más oscuro cuando se pasa el ratón por encima */
}

td:first-child, th:first-child {
    width: 15%;                    /* Ancho del primer columna (Horarios) */
}

td, th {
    width: 17%;                    
    white-space: nowrap;          
}

td:last-child {
    width: 20%;                    
}


