<div class="conteiner-sidebar">
    <div class="materias-sidebar">
        <h2>Materias</h2>
        <ul>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1522">PP2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1527">Redes y comunicación</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1513">Derecho y legislación laboral</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1526">Programación 2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1617">Base de datos 2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1514">Gestión de proyectos</a></li>
        </ul>
    </div> 
</div>